<div class="container">
  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat scelerisque elit sit amet consequat. Aliquam erat volutpat. 
    <span class="b">Aliquam</span> 
    <span class="b">venenatis</span> gravida nisl sit amet facilisis. Nullam cursus fermentum velit sed laoreet. </div>
  
    <input type="text" name="txtName"  #message/>
    
  <!-- <input type="text" name="txtName" [(ngModel)]="message" /> -->
  <div class="buttonSection"> 
    <input type="button" (click)="sendInfo(message)" value="Send Message"/>
    <input type="button" (click)="clearInfo()" value="Clear Message" />
  <br>
</div>